# Виртуальное окружение
.venv/
venv/
ENV/

# Данные приложения (База данных и картинки)
app_data/
*.db
storage.db

# Кэш Python
__pycache__/
*.py[cod]
*$py.class

# IDE
.vscode/
.idea/
.qwen/
.agents/

# Локальные переменные окружения
.env

# Временные файлы системы
Thumbs.db
Desktop.ini

# Временные данные и отчеты
*.json
*.txt
!requirements.txt
!README.md
!registry/*.json

# Одноразовые скрипты и бэкапы
scripts/
scratch/
backups/

# PyInstaller & Build artifacts
build/
dist/
setup/
*.spec

# Inno Setup
*.iss

# Large source images
_icon.png
new_icon.png
